# Git-Secret Dateien, die nicht geteilt werden sollen
# (optional, wenn bestimmte Git-Secret Dateien lokal bleiben sollen)
.gitsecret/keys/random_seed
.gitsecret
.gitsecret/
.gitsecret/*
!*.secret

# Unverschlüsselte Dateien ignorieren
.env

# MacOS spezifische Dateien ignorieren
.DS_Store

# Composer Abhängigkeiten
/vendor/

# Weitere sensitive Dateien
myconfig.yml

#testconnection 
testConnection.php

data/*
data/
qrcode/codes/
qrcode/generate_qrcode.php
qrcode/codes/*
pdf/*
pdf/
graphics/
graphics/*

senden.php
mail.html
mail.php

k150883_winterball_2024-11-05_20-25-33.sql

sendKäuferMails.php
allMails.txt
mail_log.txt
mail.php
